h1= title

table#calendar
  thead
    tr
      th S
      th M
      th T
      th W
      th T
      th F
      th S
  tr#week0
    td.sunday
    td.monday
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday
  tr#week1
    td.sunday
    td.monday
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday
  tr#week2
    td.sunday
    td.monday
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday
  tr#week3
    td.sunday
    td.monday
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday
  tr#week4
    td.sunday
    td.monday
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday
  tr#week5
    td.sunday
    td.monday
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday

#add-dialog(title="Add calendar appointment")
  h2.startDate
  div.errors(style="background:yellow; display: none")
  p title
  p
    input.title(type="text", name="title")
  p description
  p
    input.description(type="text", name="description")

script
  $(function() {
    $('#add-dialog').dialog({
      autoOpen: false,
      modal: true,
      buttons: [
        { text: "OK",
          class: "ok" },
        { text: "Cancel",
          click: function() { $(this).dialog("close"); } }
      ]
    });
  });

#edit-dialog(title="Edit calendar appointment")
  h2.startDate
  div.errors(style="display: none")
  p
    label title
      br
      input(type="text", name="title")
  p
    label description
      br
      input(type="text", name="description")

script
  $(function() {
    $('#edit-dialog').dialog({
      autoOpen: false,
      modal: true,
      buttons: [
        { text: "OK",
          class: "ok",
          click: function() {} },
        { text: "Cancel",
          click: function() { $(this).dialog("close"); } }
      ]
    });
  });

script
  $(add_dates_to_calendar);

  function ISODateString(d) {
    function pad(n) {return n<10 ? '0'+n : n}
    return d.getFullYear()+'-'
      + pad(d.getMonth()+1)+'-'
      + pad(d.getDate())
  }

  function add_dates_to_calendar() {
    var today = new Date(),
        firstOfTheMonth = new Date(today.getFullYear(), today.getMonth(), 1),
        firstSunday = new Date(firstOfTheMonth.getTime() -
                               firstOfTheMonth.getDay()*24*60*60*1000);

    var date = firstSunday;
    _([0,1,2,3,4,5]).each(function(week) {
      var week_el = $('#week' + week),
          day_elements = week_el.find('td');

      _([0,1,2,3,4,5,6]).each(function(day) {
        var day_element = day_elements[day],
            other_month = (date.getMonth() != today.getMonth()),
            html = '<span class="day-of-month">' + date.getDate() + '</span>';

        $(day_element).
          html(html).
          attr('id', ISODateString(date)).
          addClass(other_month ? 'other-month' : '');

        date = new Date(date.getTime() + 24*60*60*1000);
      });
    });

    // remove whole week from next month
    var week5_other_month = _($('#week5').find('td')).all(function(el) {
      return $(el).hasClass('other-month')
    });
    if (week5_other_month) { $('#week5').hide() }
  }

script
  $(function() {
    var Cal = function() {
      var Errors = function(options) {
        options || (options = {});
        this.on = options;
      };

      _.extend(Errors.prototype, {
        isEmpty: function() {
          return (_.size(this.on) === 0);
        },
        add: function(attribute, error) {
          this.on[attribute] = error;
        },
        each: function(callback) {
          _.each(this.on, function(error, attribute) {
            callback(attribute, error);
          });
        },
        full_messages: function() {
          return _.map(this.on, function(error, attribute) {
            return attribute + " " + error;
          });
        }
      });

      var Models = (function() {
        var Appointment = Backbone.Model.extend({
          urlRoot : '/appointments',
          initialize: function(attributes) {
            if (!this.id)
              this.id = attributes['_id'];
          },
          validate: function(attributes) {
            var errors = new Errors();

            if (!(/\\S/.test(attributes.title)))
              errors.add("title", "cannot be blank.");

            if (!/\\S/.test(attributes.description))
              errors.add("description", "cannot be blank.");

            if (!errors.isEmpty())
              return errors;
          },
          save: function(attributes, options) {
            options || (options = {});
            options['headers'] = {'If-Match': this.get("rev")};
            Backbone.Model.prototype.save.call(this, attributes, options);
          },
          destroy: function() {
            Backbone.Model.prototype.destroy.call(this, {
              headers: {'If-Match': this.get("rev")}
            });
          },
          get: function(attribute) {
            return Backbone.Model.prototype.get.call(this, "_" + attribute) ||
                   Backbone.Model.prototype.get.call(this, attribute);
          }
        });

        return {Appointment: Appointment};
      })();

      var Collections = (function() {
        var Appointments = Backbone.Collection.extend({
          model: Models.Appointment,
          url: '/appointments',
          parse: function(response) {
            return _(response.rows).map(function(row) { return row.doc ;});
          }
        });

        return {Appointments: Appointments};
      })();

      var Views = (function() {
        var Appointment = Backbone.View.extend({
          template: _.template($('#calendar-appointment-template').html()),
          initialize: function(options) {
            this.container = $('#' + this.model.get('startDate'));
            options.model.bind('destroy', this.remove, this);
            options.model.bind('error', this.handleError, this);
            options.model.bind('change', this.render, this);
          },
          render: function() {
            $(this.el).html(this.template(this.model.toJSON()));
            this.container.append($(this.el));
            return this;
          },
          events: {
            'click': 'handleClick'
          },
          handleClick: function(e) {
            if ($(e.target).hasClass('delete'))
              return this.handleDelete(e);

            return this.handleEdit(e);
          },
          handleDelete: function(e) {
            console.log("deleteClick");

            e.stopPropagation();
            this.model.destroy();
          },
          handleEdit: function(e) {
            console.log("editClick");
            e.stopPropagation();

            AppointmentEdit.reset({model: this.model});
          },
          handleError: function(model, error) {
            // TODO: blame the user instead of the programmer...
            if (error.status == 409) {
              alert("This site does not understand CouchDB revisions.");
            }
            else if (typeof(error == 'Array')) {
              alert(error.join("\\n"));
            }
            else {
              alert("This site was made by an idiot.");
            }
          },
          remove: function() {
            $(this.el).remove();
          }
        });

        var AppointmentEdit = new (Backbone.View.extend({
          el: $('#edit-dialog').parent(),
          reset: function(options) {
            $('.error').removeClass('error');
            this.model = options.model;
            this.render();
          },
          render: function () {
            $('.ui-dialog-content', this.el).dialog('open');

            $('.startDate', this.el).
              html(this.model.get("startDate"));
            $('input[name=title]', this.el).
              val(this.model.get("title"));
            $('input[name=description]', this.el).
              val(this.model.get("description"));
          },
          events : {
            'click .ok': 'update'
          },
          update: function() {
            $('.error').removeClass('error');

            var attributes = {
              title: $('input[name=title]', '#edit-dialog').val(),
              description: $('input[name=description]', '#edit-dialog').val()
            }

            var options = {
              success: function() { $('#edit-dialog').dialog("close"); },
              error: function(model, errors) {
                var full_messages = errors.full_messages();

                $('.errors', '#edit-dialog').
                  html(full_messages.join("<br/>")).
                  show();

                errors.each(function(attribute, message) {
                  $('label', '#edit-dialog').
                    has('input[name=' + attribute + ']').
                    addClass('error').
                    find('input').
                    wrap('<div class="error"/>');
                });
              }
            };

            this.model.save(attributes, options);
          }
        }));

        var AppointmentAdd = new (Backbone.View.extend({
          el: $("#add-dialog").parent(),
          reset: function(options) {
            this.startDate = options.startDate;
            this.render();
          },
          render: function () {
            $('.ui-dialog-content', this.el).dialog('open');

            $('.startDate', this.el).html(this.startDate);
            $('.title', this.el).val("");
            $('.description', this.el).val("");
          },
          events: {
            'click .ok':  'create'
          },
          create: function() {
            var attributes = {
              title: this.el.find('input.title').val(),
              description: this.el.find('input.description').val(),
              startDate: this.el.find('.startDate').html()
            };

            var options = {
              success: function() { $('#add-dialog').dialog("close"); },
              error: function(model, errors) {
                $('.errors', '#add-dialog').html(errors.join("<br/>")).show();
              }
            };

            appointment_collection.create(attributes, options);
          }
        }));

        var Day = Backbone.View.extend({
          events : {
            'click': 'addClick'
          },
          addClick: function(e) {
            console.log("addClick");

            AppointmentAdd.reset({startDate: this.el.id});
          }
        });

        var Application = Backbone.View.extend({
          initialize: function(options) {
            this.collection = appointment_collection = options.collection;

            this.initialize_appointment_views();
            this.initialize_day_views();
          },
          initialize_appointment_views: function() {
            this.collection.
              bind('add', _.bind(this.render_appointment, this));
            this.collection.
              bind('reset', _.bind(this.render_appointment_list, this));
          },
          initialize_day_views: function() {
            $('#calendar td').each(function() {
              new Day({el: this});
            });
          },
          render_appointment: function(appointment) {
            var view = new Appointment({model: appointment});
            view.render();
          },
          render_appointment_list: function(list) {
            list.each(this.render_appointment);
          }
        });

        return {Application: Application};
      })();

      // Initialize the app
      var appointments = new Collections.Appointments;

      new Views.Application({collection: appointments});
      appointments.fetch();

      return {
        Models: Models,
        Collections: Collections,
        Views: Views,
        appointments: appointments
      };
    };


    window.calendar = new Cal();
  });

|<script type="text/template" id="calendar-appointment-template">
|  <span class="appointment" title="<%= description %>">
|      <%= title %>
|      <span class="delete">X</span>
|  </span>
|</script>

