h1= title

table#calendar
  thead
    tr
      th S
      th M
      th T
      th W
      th T
      th F
      th S
  tr#week0
    td.sunday
    td.monday 1
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday
  tr#week1
    td.sunday
    td.monday 8
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday
  tr#week2
    td.sunday
    td.monday 15
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday
  tr#week3
    td.sunday
    td.monday 22
    td.tuesday
    td.wednesday
    td#2011-08-25.thursday
      span.day 25
    td#2011-08-26.friday
      span.day 26
    td.saturday
  tr#week4
    td.sunday
    td.monday 29
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday
  tr#week5
    td.sunday
    td.monday
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday

script
  $(add_dates_to_calendar);

  function add_dates_to_calendar() {
    var today = new Date(),
        firstOfTheMonth = new Date(today.getFullYear(), today.getMonth(), 1),
        firstSunday = new Date(firstOfTheMonth.getTime() -
                               firstOfTheMonth.getDay()*24*60*60*1000);

    var date = firstSunday;
    _([0,1,2,3,4,5]).each(function(week) {
      var week_el = $('#week' + week),
          day_elements = week_el.find('td');

      _([0,1,2,3,4,5,6]).each(function(day) {
        var html = '<span class="day-of-month">' + date.getDate() + '</span>';
        $(day_elements[day]).html(html);
        date = new Date(date.getTime() + 24*60*60*1000);
      });
    });
  }

script
  $(function() {
    window.Event = Backbone.Model.extend({});

    window.EventList = Backbone.Collection.extend({
      model: Event,
      url: '/events',
      parse: function(response) {
        return _(response.rows).map(function(row) { return row.doc ;});
      }
    });

    window.Events = new EventList;

    window.AppView = Backbone.View.extend({
      initialize: function() {
        Events.bind('all', this.render, this);
        Events.fetch();
      },
      render: function() {
        Events.each(function(event) {
          var start_date = event.get("startDate"),
              title = event.get("title"),
              description = event.get("description"),
              el = '#' + start_date;

          $('<span class="event" title="' + description + '">' +
              title +
            '</span>').appendTo($(el))
        });
      }
    });

    window.App = new AppView;
  });
