h1= title

table#calendar
  thead
    tr
      th S
      th M
      th T
      th W
      th T
      th F
      th S
  tr#week1
    td.sunday
    td.monday 1
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday
  tr#week2
    td.sunday
    td.monday 8
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday
  tr#week3
    td.sunday
    td.monday 15
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday
  tr#week4
    td.sunday
    td.monday 22
    td.tuesday
    td.wednesday
    td#2011-08-25.thursday
    td#2011-08-26.friday
    td.saturday
  tr#week5
    td.sunday
    td.monday 29
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday

  tr#week-template(style="display:none")
    td.sunday
    td.monday
    td.tuesday
    td.wednesday
    td.thursday
    td.friday
    td.saturday

script
  $(function() {
    window.Event = Backbone.Model.extend({});

    window.EventList = Backbone.Collection.extend({
      model: Event,
      url: '/events',
      parse: function(response) {
        return _(response.rows).map(function(row) { return row.doc ;});
      }
    });

    window.Events = new EventList;

    window.AppView = Backbone.View.extend({
      initialize: function() {
        Events.bind('all', this.render, this);
        Events.fetch();
      },
      render: function() {
        Events.each(function(event) {
          var start_date = event.get("startDate"),
              title = event.get("title"),
              description = event.get("description"),
              el = '#' + start_date;

          $(el).html(
            '<span title="' + description + '">' +
              title +
            '</span>'
          );
        });
      }
    });

    window.App = new AppView;
  });
