body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


th {
  background-color: #c00;
  color: white;
  font-size: 1.2em;
}

table td {
  border: 1px solid black;
  width: 90px;
  height: 50px;
  vertical-align: top;
  font-size: 0.8em;
  font-weight: bold;
}

tr .day {
  display: block;
  position: absolute;
  font-size: 3em;
  font-weight: bold;
  color: #fbb;
  z-index: -1;
}

.event {
  display: block;
  padding-left: 10px;
  padding-top: 5px;
}
